[Unit]
Description=PRSN-Stack
After=docker.service

[Service]
User=heywoodlh
ExecStart=/usr/bin/docker start plex nzbget radarr sonarr

[Install]
WantedBy=multi-user.target
